body, html, #root, .app {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2 {
  text-align: center;
  margin: 5px auto;
  padding: 0;
}

h1 { font-size: 34px; }
h2 { font-size: 25px; }

.app {
  background-color: #43230C;
  color: #c0a57f;
  padding: 30px;
}

.controls {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 5px;
}

button {
  border: 3px solid #fecc39;
  border-radius: 5px;
  background-color: white;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  font-size: 30px;
  text-transform: uppercase;
}

button:hover {
  background-color: #ccc;
}

i {
  font-size: 12px;
}

.spinner {
  margin: auto;
  display: block;
}

.reader {
  width: 400px;
  height: 400px;
  margin: 30px auto;
}

.header {
  margin: 30px;
}

.qr img {
  width: 300px;
  margin: 20px auto;
  display: block;
}

.error {
  color: yellow;
  text-transform: uppercase;
}
